/* Table Title Header */
.table-title-wrapper {
  background-color: #5ca9fb;
  padding: 0.625rem;
  width: 100%;
  height: 3.56rem;
  display: flex;
  align-items: center;
}

.table-title-text {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}
.rounded {
  border-radius: 1rem 1rem 0rem 0rem;
}

@media (max-width: 768px) {
  .table-title-text {
    font-weight: 500;
    font-size: 0.875rem;
  }
}
