/* Table Title Header */
.table-title-wrapper {
  background-color: #5ca9fb;
  padding: 0.625rem;
  width: 100%;
}

.table-title-text {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .table-title-text {
    font-weight: 500;
    font-size: 0.875rem;
  }
}
