.container {
  height: 100vh;
  display: flex;
}

.container .right {
  flex: 1;
  margin-left: 272px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.content {
  flex: 1;
  width: 100%;
  overflow: auto;
  min-width: 0;
}

@media (max-width: 768px) {
  .container .right {
    margin-left: 0;
  }
}
